# Google Antigravity Agent Files
.agent/
.antigravity/
.antigravity-internal/
artifacts/
plan_artifacts/

# Google/Gemini specific
.gemini/
.google/
.aiexclude
.geminiignore__pycache__/

build/
install/
log/
__pycache__/
*.pyc
.claude/


#testing
old_sessions/
sessions/
Test_Enviroment/

